.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: auto;
    background: linear-gradient(to right, var(--secondary-transparent), var(--primary-transparent));
}

.main h3{
    font-size: 2em;
    font-weight: 700;
    margin: 1em;
    color: var(--text-dark);
    text-shadow: 2px 2px 2px var(--secondary);
}

.article{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem;
}

.article h4{
    font-size: 1.6em;
    font-weight: 750;
    margin: 1rem 0;
    color: var(--text-dark);
    text-shadow: 2px 2px 2px var(--dark-grey);
}

.article p{
    font-size: 1.2em;
    font-weight: 500;
    margin: 1rem 0;
    color: var(--text-dark);
}