.loginPage {
    background-image: url('../../assets/login-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginModal {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.loginModal h2 {
    text-align: center;
    color: var(--black);
    margin-bottom: 20px;
}

.loginModal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--grey-transparent);
    border-radius: 5px;
}

.loginModal button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    background-color: var(--light-green);
    color: var(--light-grey);
    font-weight: bold;
}

.loginModal button:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

.loginModal p {
    text-align: center;
    color: var(--red);
}

.changeModeText {
    margin-top: 2.5rem;
    color: var(--black)!important;
}

.secondButton {
    background-color: var(--light-grey)!important;
    color: var(--light-green)!important;
}

.secondButton:hover {
    background-color: var(--grey)!important;
    color: var(--light-green)!important;
}