.continentsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.continentWrapper {
    padding: 1rem 2rem 0 2rem;
}

.continentWrapper h2 {
    font-size: 1.6rem;
    text-align: center;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px;
    border-bottom: 3px solid var(--text-dark);
    color: var(--text-dark);
}

.noResult{
    font-size: 1.4rem;
    color: var(--primary);
    text-align: center;
    margin: 4rem 0 2rem 0;
}