.listItem {
    display: flex;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 0 5px var(--grey-transparent);
    border: 1px solid var(--primary);
    color: var(--black);
    padding: 0.5rem;
    margin: 0.25rem;
}

.listItem input[type="checkbox"] {
    width: 20%;
    height: 25px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    flex-shrink: 0;
    border: none;
    border-radius: 0;
}

.listItem input:focus {
    box-shadow: none;
}

.listItem span {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black);
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.actions svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
}

.editButton:hover {
    color: var(--primary);
}

.deleteButton:hover {
    color: var(--red);
}

.checkButton:hover {
    color: var(--dark-green);
}

.packed {
    background-color: var(--grey-transparent);
    color: var(--black);
    border: none;
    text-decoration: line-through;
}

.packed svg {
    color: var(--black);
    cursor: auto;
}

.packed svg:hover {
    color: var(--black) !important;
}

.editInput {
    width: 100%;
    border-radius: 0;
    padding: 0.5rem;
    margin: 0 2rem 0 0;
    border: none;
    border-bottom: 1px solid var(--black);
    transition: box-shadow 0.3s ease;
}

.editInput:hover, .editInput:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary);
}

@media (max-width: 600px) {

    .listItem {
        width: 100%;
    }

    .actions svg {
        margin-left: 0;
        margin-top: 0.5rem;
    }

    .editInput {
        margin: 0;
    }
}