.sight {
    margin: 1rem;
    padding: 1.5rem;
    width: 500px;
    border-radius: 10px;
    background-color: var(--light-blue);
    box-shadow: 0 3px 6px var(--grey-transparent);
}

.sightsTitle {
    font-size: 1.6rem;
    align-self: flex-start;
    color: var(--black);
    margin: 0.5rem 2rem;
}

.sight h5 {
    font-size: 1.4rem;
    color: var(--black);
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 450px;
    word-wrap: break-word;
}

.sight div {
    display: flex;
    align-items: baseline;
}

.sight svg {
    width: 20px;
    height: 20px;
    margin: 0 0.5rem;
}

.sight p {
    font-size: 1.1rem;
    color: var(--light-grey);
    line-height: 1.6;
    max-width: 450px;
    word-wrap: break-word;
}

/* Styles for mobile phones */
@media (max-width: 600px) {
    .sight {
        width: 90%;
    }
}