.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('../../assets/packing-list.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.packingList{
    width: 60%;
    background-color: var(--background);
    border-radius: 10px;
    font-size: 2.5rem;
    margin: 1rem;
}

.title h3{
    font-size: 2.5rem;
    color: var(--primary);
    margin: 1rem 1rem 2rem 1rem;
    text-align: center;
}

.addItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 2rem;
}

.addItem input{
    width: 65%;
    height: 47px;
}

.addItem button{
    width: 25%;
    height: 47px;
    font-size: 1.5rem;
    background-color: var(--primary);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 0 0 5px var(--dark-grey);
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
}

.addItem button:hover{
    background-color: var(--text-light);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.packingListItems{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

.packingListItems p{
    font-size: 1.5rem;
    color: var(--text-dark);
    margin: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: var(--background);
    border-radius: 10px;
    margin:0;
}

.listItem{
    display: flex;
    align-items: center;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid var(--primary);
}

.listItem input{
    width: 20%;
    height: 25px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0;
}

.listItem input:focus{
    box-shadow: none;
}

.listItem span{
    font-size: 1.3rem;
    color: var(--text-dark);
}