.placeInfo {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placeInfo h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: var(--text-dark);
    margin-bottom: 0.5rem;
}

