.searchBar{
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.searchBar h2{
    margin: 0 0 0 5rem;
    color: var(--primary);
    font-size: 1.8em;
}

.searchContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid var(--grey);
    margin: 0 5rem 0 auto;
    transition: border-bottom-color 0.4s ease;
}

.searchContainer svg{
    width: 22px;
    height: 22px;
}

.searchInput {
    flex-grow: 1;
    border: none;
    padding: 8px;
    outline: none;
}

.searchInput:focus{
    box-shadow: none;
}

.searchContainer:focus-within {
    border-bottom-color: var(--secondary);
}