.header {
    display: flex;
    width: 100%;
    padding: 0.3rem;
    background: linear-gradient(to right, var(--primary), var(--secondary));
    justify-content: flex-start;
    color: var(--text-light);
    align-items: center;
}

.header h1 {
    margin: 1.1rem;
}

.header svg {
    width: 25px;
    height: 25px;
}

.logoutButton{
    margin:0 3rem 0 auto;
    width: 120px;
    padding: 0.5rem;
    background-color: var(--dark-grey);
    border-radius: 5px;
    color: var(--text-light);
}

.logoutButton:hover{
    background-color: var(--dark-purple);
    color: var(--background);
}