.place {
    border-radius: 10px;
    position: relative;
    display: flex;
    width: 100%;
    height: 93%;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 3px 20px var(--grey-transparent), 0 3px 20px var(--grey-transparent);
    margin-bottom: 1rem;
}

.nature {
    background-color: var(--light-green);
}

.city {
    background-color: var(--light-blue);
}

.place img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.placeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.placeInfo h3 {
    margin: 0.3rem;
    font-size: 1.4em;
    max-width: 260px;
    color: var(--light-grey);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.placeInfo p {
    margin: 0.15rem;
    font-size: 1.1em;
    color: var(--black);
    text-overflow: ellipsis;
    max-width: 250px;
    overflow: hidden;
}

.placeLink {
    width: 280px;
    height: 280px;
    text-decoration: none;
}

.place:hover {
    box-shadow: 0 0 8px 4px var(--secondary-transparent);
    border-radius: 8px;
    transform: rotate(5deg);
}