.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: var(--background);
    max-width: 50%;
}

.place img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    max-height: 450px;
}

.map{
    width: 100%;
    height: auto;
}

.map h4{
    font-size: 1.6rem;
    color: var(--text-dark);
    margin: 0 0 2rem 2rem;
}

.actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 1rem;
}

.editButton, .deleteButton, .cancelButton,.saveButton {
    width: 40%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton{
    background-color: var(--primary);
    color: var(--text-light);
}

.cancelButton{
    background-color: var(--error);
    color: var(--text-light);
}

.saveButton{
    background-color: var(--nature-color);
    color: var(--text-light);
}

.editButton svg,.deleteButton svg, .cancelButton svg, .saveButton svg{
    width: 23px;
    height: 23px;
    margin-left: 0.5rem;
}

.deleteButton{
    background-color: var(--error);
    color: var(--text-light)
}

.deleteButton:hover{
    background-color: var(--dark-red);
    color: var(--background);
}

.editButton:hover{
    background-color: var(--text-light);
    border: 1px solid var(--primary);
    color: var(--primary);
}

.saveButton:hover{
    background-color: var(--dark-green);
    color: var(--background);
}

.cancelButton:hover{
    background-color: var(--dark-red);
    color: var(--background);
}