:root {
  --primary: #14ACEB;
  --secondary: #aa85cb;
  --text-light: #e6e6e6;
  --text-dark: #000000;
  --background: #ffffff;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  padding: 0;
  overflow: hidden;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}