:root {
  --primary: #14ACEB;
  --secondary: #BE14EB;
  --text-light: #e6e6e6;
  --text-dark: #000000;
  --grey: #9f9d9d;
  --background: #ffffff;
  --dark-grey: rgba(0, 0, 0, 0.25);
  --city-color: rgb(70, 130, 180);
  --nature-color: rgb(43, 155, 18);
  --secondary-transparent: rgba(190, 20, 235, 0.5);
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  display: flex;
  padding: 0;
  overflow-x: hidden;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}