.packingListSection {
    width: 60%;
    background-color: var(--white);
    border-radius: 10px;
    font-size: 2.5rem;
    margin: 1rem;
    box-shadow: 0 0 10px var(--grey-transparent);
}

.title h3 {
    font-size: 2.25rem;
    color: var(--primary);
    margin: 1rem;
    text-align: center;
}

.packingListItems {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.packingListItems p {
    font-size: 1.5rem;
    color: var(--black);
    margin: 1rem;
}

.emptyList {
    text-align: center;
}

@media (max-width: 600px) {
    .packingListSection {
        width: 100%;
    }

    .packingListItems p {
        font-size: 1rem;
    }
}